language = "python3"
run = "uvicorn app.main:app --host 0.0.0.0 --port 8000"
entrypoint = "app/main.py"

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "${REPL_HOME}"
MONGODB_URL = "mongodb://localhost:27017"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = [ "pylsp" ]

[deployment]
run = ["sh", "-c", "uvicorn app.main:app --host 0.0.0.0 --port 8000"]
deploymentTarget = "cloudrun"
